body .panel {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-basis:25%;
    position:absolute;
    right:0;
    top:0;
    z-index: 10;
    /* overflow-y: auto;  para dar desplazamiento vertical independiente pero no funciona, ya probe colocandoo tambien en el elemento padre de los asides*/ 
}



/* ================= ASIDE IMAGEN ================ */

#panelImg {
    height:950px;
    width:25%;
    background-color:var(--fondoAside);
    display:flex;
    flex-direction:column;
    align-items:center;
}


#panelImg .campo {
    width:90%;
    margin:10px 0;
}


/* -------- CAMPO URL ----------*/

#panelImg #campoURL {
    display:flex;
    flex-direction:column;
}

#campoURL input {
    padding:10px;
    background-color:var(--fondoInput);
    color:var(--colorFuente);
    border: none;
    border-radius:5px;
    margin-top:10px;
}


/* ------ CAMPO FONDO ---------*/

#campoFondo h3 {
    margin:5px 0;
}

#campoFondo .contenedorColorFondo {
    display:flex;
    flex-direction:row;
}

.contenedorColorFondo input {
    width:45%;
    margin:5px;
}

#campoFondo select {
    padding:5px;
    margin:5px;
    background:var(--fondoInput);
    border:none;
    color: var(--colorFuente);
}



/* ------ CAMPO FILTROS ---------*/


#panelImg #campoFiltros {
    display:flex;
    flex-direction:column;
    align-items:center;
}

#campoFiltros h3 {
    align-self:flex-start;
}

#campoFiltros .filtro {
    width:100%;
    display:flex;
    flex-direction:column;
    margin:10px;
}

#campoFiltros .filtro input {
    appearance:none;
    background:var(--colorRango1);
    height:5px;
    margin-top:10px;
}

#campoFiltros .filtro input::-webkit-slider-thumb {
    appearance:none;
    background:var(--colorRango2);
    width:15px;
    height:15px;
    border-radius:10px;
}

#campoFiltros button {
    padding:10px;
    margin:20px 0;
    border:0;
    border-radius:5px;
    color:var(--colorFuente);
    background-color: var(--colorBoton);
}






/* ================= ASIDE TEXTO =================== */

#panelTexto {
    height:950px;
    width:25%;
    background-color:var(--fondoAside);
    display:none;
    flex-direction:column;
    align-items:center;
}


#panelTexto .campo {
    width:90%;
    margin:10px 0;
}

.panel .checkbox {
    margin:10px;
}

/* ----------- INPUTS INFERIOR Y SUPERIOR --------- */

.campo .contenedorInput {
    display:flex;
    flex-direction:column;
}

.contenedorInput input {
    padding:10px;
    background-color:var(--fondoInput);
    color:var(--colorFuente);
    border: none;
    border-radius:5px;
    margin-top:10px;
}

/* ---------- FUENTES ------------- */

#panelTexto #campoFuente {
    display:flex;
    flex-direction:column;
}

#campoFuente select {
    padding:10px;
    background-color:var(--fondoInput);
    color:var(--colorFuente);
    border: none;
    border-radius:5px;
    margin-top:10px;
}

#campoFuente .botonesYTamaño {
    margin:10px 0;
    display:flex;
    justify-content:space-between;
}

#campoFuente .botonesYTamaño input {
    width:50%;
    height:20px;
    border:0;
    color:var(--colorFuente);
    background-color:var(--fondoInput);
    padding:6px;
}

#botonesAlineacion button {
    height:30px;
    width:40px;
    border:0;
    border-radius:5px;
    color:var(--colorFuente);
    background-color: var(--colorBoton);
}


/* ---------- COLOR Y FONDO ----------- */

#campoColores #colorYFondo {
    width:100%;
    display:flex;
    flex-direction:row;
}

#campoColor, #campoFondo {
    width:50%;
    margin:0 10px;
    display:flex;
    flex-direction:column;
}

#campoColor input, #campoFondo input {
    width:100%;
}

#campoColor label, #campoFondo label {
    margin:5px 0;
}


/* ----------- CONTORNO ------------- */

#campoContorno button {
    margin:10px 0;
    font-size:15px;
}

/* ---------- ESPACIADO ------------ */

#campoEspaciado, #campoInterlineado {
    display:flex;
    flex-direction:column;
}

#campoEspaciado input {
    padding:10px;
    background-color:var(--fondoInput);
    color:var(--colorFuente);
    border: none;
    border-radius:5px;
    margin-top:10px;
}

#campoInterlineado select {
    padding:10px;
    background-color:var(--fondoInput);
    color:var(--colorFuente);
    border: none;
    border-radius:5px;
    margin-top:10px;
}
