header {
    width:100%;
    color:white;
    background-color:var(--darkUno);
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    padding-bottom:20px;
    position:absolute;
    z-index: 9;
}

/*---------- BOTONES -------------*/

header .contenedorBotones {
    width:380px;
    display:flex;
    justify-content:space-around;
}

.contenedorBotones button {
    padding:10px;
    border:0;
    border-radius:5px;
    color:white;
    background-color:var(--darkBoton);
}

.contenedorBotones #botonModoOscuro {
    display:none;
}