@import url('./body.css');
@import url('./header.css');
@import url('./main.css');
@import url('./asides.css');


:root {
    --darkUno:#191d31;
    --darkDos:#13182e;
    --darkBoton:#2b3149;
    --darkTres:#b5bace;
    --darkCuatro:#636363;;
    --darkFondo:#282a34;
}


